<div class ='span6'>
    <fieldset>
        <form ng-submit = "registerUser" name ="form" novalidate>
            <legend>Create Account</legend>

            <label>Name</label>
            <input type="text" ng-model="newUser.name" required>

            <label>Email</label>
            <input type="email" ng-model="newUser.email" required>

            <label>Password</label>
            <input type="password" ng-model="newUser.password" name="password"  required ng-minlength="6">

            <p class="help-block"
               ng-show="form.password.$erroro.minlength || form.
               password.$invalid">
                Passworb must bet at least 6 characters.
            </p>

            <label class="checkbox">
                <input type="checkbox" ng-model="newUser.terms" value="1" required>
                I accept <a target="_blank" href="user/terms">Terms of agreement</a>
            </label>

            <button ng-disabled="form.$invalid" class="btn btn-primary"> Submit </button>

        </form>
    </fieldset>
</div>